
.logo{
    height: 200%;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px; 
}
h2{
    text-align: center;
}

nav{
    border: 2px solid black;
    border-radius: 5px;
}
main{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}